body {
    font-family: 'Nunito', sans-serif;
    color: black;   
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: #191919;
}

.bg-dark {
    background-color: #000000 !important;
}

.navbar-nav {
    margin-right: 0em;
}

.nav-item,
.nav-item-r{
    text-align: center;
    letter-spacing: 5px;
}

.nav-item-r {
    background-color: white;
    border-bottom: 2px solid #979595ee;
}

.navbar-dark .navbar-nav .nav-item-r .nav-link {
    color: #ff0000;
}

.nav-item:hover{
    margin-bottom: 0.5px;
    border-bottom: 0.5px solid red;
    transition: 0.5s;
}

.nav-item .current {
    margin-bottom: 0.5px;
    border-bottom: 0.5px solid red;
}

.logosig {
    width: auto;
    height: 35px;
    margin-left: 10px;
}

/* ESAUDE */

#esaude {
    background-image: none;
    background-color: #f1f2ed;
    color: black;
    padding: 0;
    width: auto;
    min-height: 100vh;
    height: auto;
}
.esaude-title p{
    font-size: 32px;
    font-weight: 700;
    margin-top: 80px;
    text-align: center;
    padding: 10px;
}

.esaude-text{
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    
}


#roll-button {
    position: relative;
    top: 4px;
    width: 20%;
}

/* VANTAGENS */

#vantagens {
    background: #93a0ad;
    color: black;
    padding: 0;
    width: auto;
    min-height: 100vh;
    height: auto;
}

.vantagens-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 80px;
    text-align: center;
    padding: 10px;
}

.vantagens-text {
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
}

/* ONDE UTILIZAR */

#ondeutilizar {
    background: white;
    color: #5085bd;
    padding: 0;
    width: auto;
    min-height: 100vh;
    height: auto;
}

.ondeutilizar-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 80px;
    text-align: center;
    padding: 10px;
}

.ondeutilizar-card {
    margin: 10px 0px;
}

.ondeutilizar-img {
    width: auto;
    height: 100px;
    margin: 10px 0px;
}

.ondeutilizar-card p {
    font-size: 20px;
    display: inline-block;
    margin: 0px;
}

.ondeutilizar-card-title {
    font-weight: 600;
    color: red;
    padding: 10px 0px 2px;
}

.ondeutilizar-card-text {
    font-weight: 500;
    color: #5085bd;
    text-align: center;
    padding: 2px 0px 15px;
}

.ondeutilizar-newsletter {
    font-size: 18px;
    text-align: center;
    padding: 10px;
}


.newsletter-form {
    border-radius: 25px;
    box-shadow:0 0 8px #666;
}

.sign-button {
    margin-top: 5px;
}

.btn-sign {
    background-color: #ff0000;
    border-color: #ff0000;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 10%;
    padding: 12px;
    border-radius: 25px;
}


