/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) { 

    /* eSAUDE */
    
    .esaude-title p{
        font-size: 35px;
        font-weight: 700;
        margin-top: 60px;
        text-align: center;
        padding: 10px;
    }

    .esaude-text{
        font-size: 25px;
        font-weight: 300;
        padding: 1px;
        text-align: center;
    }

    #roll-button {
        position: relative;
        top: 1px;
        width: 25%;
    }

    /* VANTAGENS */

    .vantagens-title {
        font-size: 35px;
    }

    .vantagens-text {
        font-size: 25px;
    }

    /* ONDE UTILIZAR */

    .ondeutilizar-title {
    font-size: 35px;
    }

    .ondeutilizar-img {
    height: 110px;
    }

    .ondeutilizar-card p {
    font-size: 27px;
    display: inline-block;
    margin: 0px;
    }

    .ondeutilizar-newsletter {
    font-size: 25px;
    text-align: center;
    padding: 10px;
    }

    .newsletter-form {
        width: 100%;
    }

    /* COMPRAR */

    .comprar-title {
        font-size: 35px;
    }

    .comprar-card-row {
    height: 720px;
    }

    .comprar-card-title{
    font-size: 26px;
    font-weight: 600;
    color:#ff0000;
    padding: 10px 0px 2px;
    margin: 0px;
    }

    .comprar-card-img {
    height: 160px;
    }

    .comprar-card-text {
    font-size: 25px;
    }

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) { ... }

/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) { ... }

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { ... }