/* // Small devices (landscape phones, 576px and up) */

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    /* eSAUDE */
    .esaude-title p {
        font-size: 35px;
        font-weight: 700;
        margin-top: 60px;
        text-align: center;
        padding: 10px;
    }
    .esaude-text {
        font-size: 25px;
        font-weight: 300;
        padding: 1px;
        text-align: center;
    }
    #roll-button {
        position: relative;
        top: 1px;
        width: 25%;
    }
    /* VANTAGENS */
    .vantagens-title {
        font-size: 35px;
    }
    .vantagens-text {
        font-size: 25px;
    }
    /* ONDE UTILIZAR */
    .ondeutilizar-title {
        font-size: 35px;
    }
    .ondeutilizar-img {
        height: 110px;
    }
    .ondeutilizar-card p {
        font-size: 27px;
        display: inline-block;
        margin: 0px;
    }
    .ondeutilizar-newsletter {
        font-size: 25px;
        text-align: center;
        padding: 10px;
    }
    .newsletter-form {
        width: 100%;
        text-align: center;
    }
    /* COMPRAR */
    .comprar-title {
        font-size: 35px;
    }
    .comprar-card-row {
        height: 780px;
        padding: 5px;
    }
    .comprar-card-title {
        font-size: 26px;
        font-weight: 600;
        color: #ff0000;
        padding: 10px 0px 2px;
        margin: 0px;
    }
    .comprar-card-img {
        height: 160px;
    }
    .comprar-card-text {
        font-size: 25px;
    }
    .comprar-card-text a {
        color: #8b8b00;
    }
    .comprar-card-duration {
        font-size: 25px;
    }
    .comprar-card-price {
        font-size: 35px;
    }
}

/* // Medium devices (tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    p {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
    /* --- NAVBAR ---- */
    .ml-5, .mx-5 {
        margin-left: 5rem!important;
    }
    .mr-5, .mx-5 {
        margin-right: 5rem!important;
    }
    .nav-item:hover {
        margin-bottom: 2px;
        border-bottom: 2px solid red;
        transition: 0.5s;
    }
    .nav-item.active {
        margin-bottom: 2px;
        border-bottom: 2px solid red;
    }
    .nav-link:hover {
        color: rgba(255, 255, 255, .75);
        transition: 0.5s;
    }
    .nav-item-r {
        background-color: #ff0000;
    }
    .nav-link {
        font-weight: bolder;
        font-size: 100%;
    }
    .bg-dark {
        background-color: #000000a1 !important;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: rgb(255, 255, 255);
    }
    .navbar-dark .navbar-nav .nav-item-r .nav-link {
        color: white;
        font-weight: bolder;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 20px;
    }
    .nav-item .current {
        margin-bottom: 2px;
        border-bottom: 2px solid red;
    }
    .logosig {
        width: auto;
        height: 58px;
    }
    /* ESAUDE */
    #esaude {
        background-image: url("/assets/img/background\ esaude.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding-left: 10%;
        padding-right: 10%;
        min-height: 100vh;
        height: auto;
    }
    .esaude-title p {
        font-size: 40px;
        font-weight: 300;
        margin-top: 60px;
        text-align: right;
        padding-left: 200px;
    }
    .esaude-text {
        font-size: 15px;
        font-weight: 800;
        padding-left: 250px;
        text-align: right;
    }
    #roll-button {
        position: relative;
        top: 5px;
        width: 20%;
    }
    /* VANTAGENS */
    #vantagens {
        background-image: url("/assets/img/background\ esaude\ 2.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding-left: 10%;
        padding-right: 10%;
        min-height: 100vh;
        height: auto;
    }
    .vantagens-title {
        font-size: 40px;
        font-weight: 300;
        margin-top: 60px;
        text-align: center;
        color: white;
    }
    .vantagens-text {
        font-size: 15px;
        font-weight: 600;
        padding: 10px;
        margin-top: 15px;
        text-align: center;
        color: white;
    }
    /* ONDE UTILIZAR */
    .ondeutilizar-title {
        font-size: 40px;
        font-weight: 300;
        padding: 10px;
        margin-top: 60px;
        text-align: center;
    }
    .ondeutilizar-img {
        width: auto;
        height: 80px;
        margin: 10px 0px;
    }
    .ondeutilizar-card {
        padding: 20px;
    }
    .ondeutilizar-card p {
        font-size: 18px;
        display: inline-block;
        margin: 0px;
        text-align: center;
    }
    .ondeutilizar-newsletter {
        font-size: 18px;
        text-align: center;
        padding: 10px;
    }
    .newsletter-form {
        width: 100%;
        text-align: center;
    }
    .btn-sign {
        background-color: #ff0000;
        border-color: #ff0000;
        font-weight: 600;
        font-size: 0.9rem;
        margin-top: 10%;
        padding: 5px 35px;
        border-radius: 25px;
    }
    /* COMPRAR */
    .comprar-title {
        font-size: 40px;
        font-weight: 300;
    }
    .comprar-card-row {
        height: 400px;
        padding: 5px;
    }
    .comprar-card-title {
        font-size: 20px;
        font-weight: 600;
        color: #ff0000;
        padding: 10px 0px 2px;
        margin: 0px;
    }
    .comprar-card-img {
        height: 140px;
    }
    .comprar-card-text {
        font-size: 18px;
    }
    .comprar-card-text a {
        color: #8b8b00;
    }
    .comprar-card-duration {
        font-size: 20px;
    }
    .comprar-card-price {
        font-size: 30px;
    }
    .btn-comprar {
        background-color: #ff0000;
        border-color: #ff0000;
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 5px 35px;
        font-weight: 600;
        font-size: 0.9rem;
        border-radius: 25px;
    }
}

/* // Large devices (desktops, 992px and up) */

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .ml-5, .mx-5 {
        margin-left: 5rem!important;
    }
    .mr-5, .mx-5 {
        margin-right: 5rem!important;
    }
    .nav-item:hover {
        margin-bottom: 2px;
        border-bottom: 2px solid red;
        transition: 0.5s;
    }
    .nav-item.active {
        margin-bottom: 2px;
        border-bottom: 2px solid red;
    }
    .nav-link:hover {
        color: rgba(255, 255, 255, .75);
        transition: 0.5s;
    }
    .nav-item-r {
        background-color: #ff0000;
    }
    .nav-link {
        font-weight: bolder;
        font-size: 14px;
    }
    .navbar-dark .navbar-nav .nav-item-r .nav-link {
        color: white;
        font-weight: bolder;
    }
    .bg-dark {
        background-color: #000000a1 !important;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: rgb(255, 255, 255);
    }
    .navbar-nav {
        margin-right: 2em;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 20px;
    }
    .nav-item, .nav-item-r {
        text-align: none;
        letter-spacing: 0px;
    }
    .nav-item .current {
        margin-bottom: 2px;
        border-bottom: 2px solid red;
    }
    .logosig {
        width: auto;
        height: 50px;
        margin-left: 2em;
    }
    /* ESAUDE */
    #esaude {
        background-image: url("/assets/img/background\ esaude.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding-left: 5%;
        padding-right: 5%;
        min-height: 100vh;
        height: auto;
    }
    .esaude-title p {
        font-size: 45px;
        font-weight: 300;
        margin-top: 8%;
        text-align: right;
        padding-left: 45%;
    }
    .esaude-text {
        font-size: 18px;
        font-weight: 600;
        padding-left: 45%;
        text-align: right;
    }
    #roll-button {
        position: relative;
        top: 5px;
        width: 20%;
    }
    /* VANTAGENS */
    #vantagens {
        background-image: url("/assets/img/background\ esaude\ 2.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding-left: 5%;
        padding-right: 5%;
        min-height: 100vh;
        height: auto;
    }
    .vantagens-title {
        font-size: 40px;
        font-weight: 300;
        margin-top: 60px;
        text-align: center;
        color: white;
    }
    .vantagens-text {
        font-size: 15px;
        font-weight: 600;
        padding: 10px;
        margin-top: 15px;
        text-align: center;
        color: white;
    }
    /* ONDE UTILIZAR */
    #ondeutilizar {
        padding-left: 5%;
        padding-right: 5%;
        min-height: 100vh;
        height: auto;
    }
    .ondeutilizar-title {
        font-size: 40px;
        font-weight: 300;
        padding: 10px;
        margin-top: 60px;
        text-align: center;
    }
    .ondeutilizar-img {
        width: auto;
        height: 80px;
        margin: 10px 0px;
    }
    .ondeutilizar-card {
        padding: 20px;
    }
    .ondeutilizar-card p {
        font-size: 18px;
        display: inline-block;
        margin: 0px;
        text-align: center;
    }
    .ondeutilizar-newsletter {
        font-size: 18px;
        text-align: center;
        padding: 10px;
    }
    .newsletter-form {
        width: 100%;
        text-align: center;
    }
    .btn-sign {
        background-color: #ff0000;
        border-color: #ff0000;
        font-weight: 600;
        font-size: 0.9rem;
        margin-top: 10%;
        padding: 5px 35px;
        border-radius: 25px;
    }
    /* COMPRAR */
    #comprar {
        background-color: #4ba2ff38;
        padding-left: 5%;
        padding-right: 5%;
        min-height: 100vh;
        height: auto;
    }
    .comprar-title {
        font-size: 40px;
        font-weight: 300;
    }
    .comprar-card-row {
        height: 400px;
        padding: 5px;
    }
    .comprar-card-title {
        font-size: 20px;
        font-weight: 600;
        color: #ff0000;
        padding: 10px 0px 2px;
        margin: 0px;
    }
    .comprar-card-img {
        height: 140px;
    }
    .comprar-card-text {
        font-size: 18px;
    }
    .comprar-card-text a {
        color: #8b8b00;
    }
    .comprar-card-duration {
        font-size: 20px;
    }
    .comprar-card-price {
        font-size: 30px;
    }
    .btn-comprar {
        background-color: #ff0000;
        border-color: #ff0000;
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 5px 35px;
        font-weight: 600;
        font-size: 0.9rem;
        border-radius: 25px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .ml-5, .mx-5 {
        margin-left: 5rem!important;
    }
    .mr-5, .mx-5 {
        margin-right: 5rem!important;
    }
    .nav-item:hover {
        margin-bottom: 2px;
        border-bottom: 2px solid red;
        transition: 0.5s;
    }
    .nav-item.active {
        margin-bottom: 2px;
        border-bottom: 2px solid red;
    }
    .navbar-dark .navbar-nav .nav-item-r .nav-link {
        color: white;
        font-weight: bolder;
    }
    .nav-link:hover {
        color: rgba(255, 255, 255, .75);
        transition: 0.5s;
    }
    .nav-item-r {
        background-color: #ff0000;
    }
    .nav-link {
        font-weight: bolder;
        font-size: 18px;
    }
    .bg-dark {
        background-color: #000000a1 !important;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: rgb(255, 255, 255);
    }
    .navbar-nav {
        margin-right: 2em;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 20px;
    }
    .nav-item, .nav-item-r {
        text-align: none;
        letter-spacing: 0px;
    }
    .nav-item .current {
        margin-bottom: 2px;
        border-bottom: 2px solid red;
    }
    .logosig {
        width: auto;
        height: 60px;
        margin-left: 2em;
    }
    /* ESAUDE */
    #esaude {
        background-image: url("/assets/img/background\ esaude.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding-left: 5%;
        padding-right: 5%;
        min-height: 100vh;
        height: auto;
    }
    .esaude-title p {
        font-size: 50px;
        font-weight: 300;
        margin-top: 8%;
        text-align: right;
        padding-left: 45%;
    }
    .esaude-text {
        font-size: 23px;
        font-weight: 600;
        padding-left: 45%;
        text-align: right;
    }
    #roll-button {
        position: relative;
        top: 5px;
        width: 20%;
    }
    /* VANTAGENS */
    #vantagens {
        background-image: url("/assets/img/background\ esaude\ 2.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding-left: 5%;
        padding-right: 5%;
        min-height: 100vh;
        height: auto;
    }
    .vantagens-title {
        font-size: 50px;
        font-weight: 300;
        margin-top: 60px;
        text-align: center;
        color: white;
    }
    .vantagens-text {
        font-size: 23px;
        font-weight: 600;
        padding: 10px;
        margin-top: 15px;
        text-align: center;
        color: white;
    }
    /* ONDE UTILIZAR */
    #ondeutilizar {
        padding-left: 5%;
        padding-right: 5%;
        min-height: 100vh;
        height: auto;
    }
    .ondeutilizar-title {
        font-size: 50px;
        font-weight: 300;
        padding: 10px;
        margin-top: 60px;
        text-align: center;
    }
    .ondeutilizar-img {
        width: auto;
        height: 100px;
        margin: 10px 0px;
    }
    .ondeutilizar-card {
        padding: 20px;
    }
    .ondeutilizar-card p {
        font-size: 23px;
        display: inline-block;
        margin: 0px;
        text-align: center;
    }
    .ondeutilizar-newsletter {
        font-size: 23px;
        text-align: center;
        padding: 10px;
    }
    .newsletter-form {
        width: 100%;
        text-align: center;
    }
    .btn-sign {
        background-color: #ff0000;
        border-color: #ff0000;
        font-weight: 600;
        font-size: 1.0rem;
        margin-top: 20%;
        padding: 5px 35px;
        border-radius: 25px;
    }
    /* COMPRAR */
    #comprar {
        background-color: #eef6ff;
        padding-left: 5%;
        padding-right: 5%;
        min-height: 100vh;
        height: auto;
    }
    .comprar-title {
        font-size: 50px;
        font-weight: 300;
    }
    .comprar-card-row {
        height: 228px;
        padding: 0;
    }
    .comprar-card {
        margin-bottom: 1%;
        margin-top: 1%;
        width: 95%;
        height: 55%;
        border-radius: 10%;
    }
    .comprar-card-title {
        font-size: 25px;
        font-weight: 600;
        color: #ff0000;
        padding: 10px 0px 2px;
        margin: 0px;
    }
    .comprar-card-img {
        height: 160px;
    }
    .comprar-card-text {
        font-size: 19px;
        margin-top: 10px;
        padding: 2px;
        text-align: justify;
    }
    .comprar-card-text a {
        color: #8b8b00;
    }
    .comprar-card-duration {
        font-size: 20px;
    }
    .comprar-card-price {
        font-size: 32px;
    }
    .btn-comprar {
        background-color: #ff0000;
        border-color: #ff0000;
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 5px 35px;
        font-weight: 600;
        font-size: 0.9rem;
        border-radius: 25px;
    }
}

/* // FHD Desktop devices */

@media only screen and (min-width: 1353px) and (min-height: 784px) {
    .ml-5, .mx-5 {
        margin-left: 5rem!important;
    }
    .mr-5, .mx-5 {
        margin-right: 5rem!important;
    }
    .nav-item:hover {
        margin-bottom: 2px;
        border-bottom: 2px solid red;
        transition: 0.5s;
    }
    .nav-item.active {
        margin-bottom: 2px;
        border-bottom: 2px solid red;
    }
    .navbar-dark .navbar-nav .nav-item-r .nav-link {
        color: white;
        font-weight: bolder;
    }
    .nav-link:hover {
        color: rgba(255, 255, 255, .75);
        transition: 0.5s;
    }
    .nav-item-r {
        background-color: #ff0000;
    }
    .nav-link {
        font-weight: bolder;
        font-size: 18px;
    }
    .bg-dark {
        background-color: #000000a1 !important;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: rgb(255, 255, 255);
    }
    .navbar-nav {
        margin-right: 2em;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 20px;
    }
    .nav-item, .nav-item-r {
        text-align: none;
        letter-spacing: 0px;
    }
    .nav-item .current {
        margin-bottom: 2px;
        border-bottom: 2px solid red;
    }
    .logosig {
        width: auto;
        height: 60px;
        margin-left: 2em;
    }
    /* ESAUDE */
    #esaude {
        background-image: url("/assets/img/background\ esaude.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding-left: 5%;
        padding-right: 5%;
        min-height: 100vh;
        height: auto;
    }
    .esaude-title p {
        font-size: 70px;
        font-weight: 300;
        margin-top: 8%;
        text-align: right;
        padding-left: 45%;
    }
    .esaude-text {
        font-size: 25px;
        margin-top: 8%;
        font-weight: 700;
        padding-left: 45%;
        text-align: right;
    }
    #roll-button {
        position: relative;
        top: 80px;
        width: 30%;
    }
    /* VANTAGENS */
    #vantagens {
        background-image: url("/assets/img/background\ esaude\ 2.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding-left: 5%;
        padding-right: 5%;
        min-height: 100vh;
        height: auto;
    }
    .vantagens-title {
        font-size: 70px;
        font-weight: 300;
        margin-top: 15%;
        text-align: center;
        color: white;
    }
    .vantagens-text {
        font-size: 25px;
        font-weight: 700;
        padding: 5px 100px;
        margin-top: 2%;
        text-align: center;
        color: white;
    }
    .vantagens-text p {
        margin-top: 2%;
    }
    /* ONDE UTILIZAR */
    #ondeutilizar {
        padding-left: 5%;
        padding-right: 5%;
        min-height: 100vh;
        height: auto;
    }
    .ondeutilizar-title {
        font-size: 70px;
        font-weight: 300;
        padding: 10px;
        margin-top: 60px;
        margin-bottom: 30px;
        text-align: center;
    }
    .ondeutilizar-img {
        width: auto;
        height: 150px;
        margin: 10px 0px;
    }
    .ondeutilizar-card {
        padding: 20px;
    }
    .ondeutilizar-card p {
        font-size: 25px;
        display: inline-block;
        margin: 0px;
        text-align: center;
    }
    .ondeutilizar-newsletter {
        margin-top: 2%;
        color: black;
        font-size: 21px;
        text-align: center;
        padding: 10px;
    }
    .ondeutilizar-newsletter-info {
        margin-top: 2%;
    }
    .newsletter-form {
        margin-top: 2%;
        width: 100%;
        text-align: center;
    }
    .btn-sign {
        background-color: #ff0000;
        border-color: #ff0000;
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: 10%;
        margin-left: 50%;
        position: relative;
        bottom: 5px;
        padding: 5px 35px;
        border-radius: 25px;
    }
    /* COMPRAR */
    #comprar {
        background-color: #eef6ff;
        padding-left: 5%;
        padding-right: 5%;
        min-height: 100vh;
        height: auto;
    }
    .comprar-title {
        font-size: 70px;
        font-weight: 300;
    }
    .comprar-card-row {
        height: 228px;
        padding: 0;
    }
    .comprar-card {
        margin: 3% 0%;
        width: 95%;
        height: 55%;
        border-radius: 10%;
    }
    .comprar-card-title {
        font-size: 30px;
        font-weight: 800;
        color: #ff0000;
        padding: 10px 0px 2px;
        margin: 0px;
    }
    .comprar-card-img {
        height: 160px;
    }
    .comprar-card-text {
        font-size: 22px;
        margin-top: 10px;
        padding: 2px;
        text-align: justify;
    }
    .comprar-card-text a {
        color: #8b8b00;
    }
    .comprar-card-duration {
        font-size: 22px;
    }
    .comprar-card-price {
        font-size: 35px;
    }
    .btn-comprar {
        background-color: #ff0000;
        border-color: #ff0000;
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 5px 35px;
        font-weight: 600;
        font-size: 1.2rem;
        border-radius: 25px;
    }
    .footer p {
        font-size: 20px;
        
    }
}